@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(./imgs/cadastro-bg.jpg) center/cover no-repeat;
    background-size: cover;
    background-position: center
}

.conta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    height: 80vh;
    box-sizing: border-box;
}

/* formulario */

.grid-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.form-box {
    width: 100%;
    max-width: 300px;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 15px;
    min-height: 280px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* Formulário de Login mais compacto */
.form-box.lo {
    max-width: 300px;
    padding: 1.2rem 1.5rem;
    min-height: 220px;
}


/* cadastro 2 */

.form-box h2 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    color: #658EA3;
}

/* campos cadastro */

.input-group-cadastro {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 300;
}

/* faz inputs com classe .full ocuparem as 2 colunas */
.full {
    grid-column: span 2;
}

.input-group-cadastro label {
    display: block;
    color: #333;
    margin-left: 0;
}

.input-group-cadastro input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s ease;
}

.input-group-cadastro input:focus {
    border-color: #658EA3;
}

/* botão */

.btn-container {
    display: flex;
    justify-content: center;
}

/* link login e cadastro*/

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.login-link a {
    color: #658EA3;
    text-decoration: none;
}


.login-link a:hover {
    color: #91BACD;
    text-decoration: underline;
}

/* campo de senha */

.input-wrapper {
    position: relative;
}

.input-wrapper input {
    width: 100%;
    padding-right: 40px;
    /* espaço para o ícone */
}

.toggle-visibility {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    user-select: none;
}

/* campos cadastro */

.input-group-login {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 300;
}

.input-group-login label {
    display: block;
    color: #333;
    margin-left: 0;
}

.input-group-login input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s ease;
}

.input-group-login input:focus {
    border-color: #658EA3;
}


/* esqueci a senha */

.senha-link {
    font-size: 14px;
    color: #333;
    margin-bottom: 40px;
}

.senha-link a {
    color: #658EA3;
    text-decoration: none;
}


.senha-link a:hover {
    color: #91BACD;
    text-decoration: underline;
}

/* Outras formas de login */

.social-login {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-login img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.2s;
}

.social-login img:hover {
    transform: scale(1.1);
}