/* carrinho */

.title {
  text-align: center;
  margin: 40px;
  color: #658EA3;
}

/* Container geral */
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* card do produto */

.card {
  margin: auto;
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 18px;
  background: #ffffff;
  padding: 18px 22px;
  border-radius: 18px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  margin-bottom: 25px;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.1);
}

/* imagem do produto */
.imagem-produto img {
  width: 150px;
  height: auto;
  border-radius: 12px;
}

/* conteúdo do card */
.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.card-content h3 {
  font-size: 20px;
  margin: 0;
}

.card-content .preco {
  font-size: 18px;
  color: #658EA3;
  font-weight: 600;
}

/* lixeira */

.lixeira {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

.lixeira img {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(82%) sepia(6%) saturate(16%) hue-rotate(2deg) brightness(91%) contrast(91%);
}

.lixeira img:hover {
  filter: brightness(0) saturate(100%) invert(42%) sepia(98%) saturate(7478%);
}

/* quantidade */
.qtd-control {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
}

.qtd-btn {
  width: 32px;
  height: 32px;
  font-size: 18px;
  background: #e3ebef;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.qtd-btn:hover {
  background: #cbd8df;
}

.qtd-input {
  display: block;
  background: none;
  border: none;
  width: 40px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

/* desativado */

.qtd-input[readonly] {
  pointer-events: none;
  /* impede clicar dentro */
  cursor: default;
}

/* botoes */

.container-buttons {
  width: 70%;
  margin: 0 auto 40px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

/* RESPONSIVIDADE */
@media (max-width: 700px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
    padding: 18px;
  }

  .lixeira {
    top: 10px;
    right: 10px;
  }

  .imagem-produto img {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
  }
}