* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: poppins;
  background-color: #fff;
  color: #333; 
}

/* Container das sections lado a lado */
.container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
}

/* Estilo das sections */
section {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

header {
    text-align: center;
    display: flex;
    padding: 0px 20px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;

}

header a {
    text-decoration: none;
}

header p {
    color: black;
}

header img {
    width: 80px;
}

.logo {
    display: flex;
    align-items: center;
}


/* nav */

nav ul {
    list-style: none;
    display: flex;
    padding: 20px;

}

nav a {
    text-align: center;
    position: relative;
    margin: 0px 40px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #658EA3;
    transition: width 0.3s;
}

nav a:hover {
    color: #658EA3;
    transform: translateY(-3px);
}

nav a:hover::after {
    width: 100%;
}

.navegacao {
    display: flex;
    align-items: center;
    margin-left: auto;
}


/* barra de pesquisa */

.search-form input {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 250px;
}

.search-form input:hover {
    border: 1px solid #658EA3;
}

/* perfil e carrinho */

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 20px;
}

.icons img {
    width: 25px;
    cursor: pointer;
    filter: invert(15%) sepia(5%) saturate(24%) hue-rotate(314deg) brightness(94%) contrast(85%);
    transition: transform 0.3s, filter 0.3s;
}

.icons img:hover {
    transform: scale(1.1);
    filter: invert(49%) sepia(47%) saturate(269%) hue-rotate(156deg) brightness(98%) contrast(92%);
}

.perfil-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    position: relative;
}

.carrinho-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    position: relative;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* permite aumentar só verticalmente */
}
button[type="submit"] {
  background-color:#658EA3;
  color: white;
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: #658EA3;
}

/* Link de política */
.register-link {
  font-size: 14px;
  color: #555;
}

.register-link a {
  color: #658EA3;
  text-decoration: underline;
}