       
body {
    line-height: 1.6;
   
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8fafc;
}
 
 
.nav-link-custom {
    position: relative;
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
}
 
.nav-link-custom::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #658EA3;
    transition: width 0.3s;
}
 
.nav-link-custom:hover {
    color: #658EA3;
    transform: translateY(-3px);
}
 
.nav-link-custom:hover::after {
    width: 100%;
}
 
.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
}
 
.form-input:focus {
    border-color: #658EA3;
    outline: none;
<<<<<<< HEAD
    box-shadow: 0 0 0 3px rgba(101, 142, 163, 0.3);
}
 
=======
    box-shadow: 0 0 0 3px rgba(101, 142, 163, 0.3); 
}

>>>>>>> 77d66bea16a0bde0bc48295dc8e3008406dbbe37
.contact-detail svg {
    color: #658EA3;
}