/* Seta voltar */

.seta-voltar img {
    width: 35px;
    display: block;
    margin: 0;
    padding: 0;

}

.seta-voltar {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin: 20px;
    display: inline-block;
    transition: all 0.5s ease;
}

.seta-voltar:hover {
    transform: scale(1.1);
}

/* Efeito de active (momento do clique) */
.seta-voltar:active {
    /* Um feedback visual forte no momento exato do clique */
    transform: scale(0.95);
    background-color: rgba(101, 142, 163, 0.2);
    box-shadow: none;
    /* Remove a sombra temporariamente para parecer que foi "pressionado" */
}


h1 {

    color: #658EA3;
    text-align: center;
}

h2 {

    color: black;
    text-align: center;
}

.verificar img {

    margin: auto;
    padding: 100px;
    width: 300px;
    align-items: center;
    display: flex;
}

/* Garante que o GIF execute 1 vez */
.verificar img {
    width: 170px;
    height: 170px;
}

.pedido-box {
    margin: 30px auto;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.pedido-box h2 {
    margin-bottom: 15px;
    text-align: center;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    font-size: 1.05rem;
}

.total {
    margin-top: 12px;
    padding-top: 10px;
    border-top: 2px solid #ccc;
    font-weight: bold;
}