body {
    background-color: #f4f6f7;
}

/* menu principal */

.titulo {
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

.sub-titulo {
    font-size: 25px;
    text-align: center;
}

.menu {
    max-width: 1200px;
    max-height: 500px;
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 20px;
}

.item {
    background: #ccc;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 200px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: 0.3s ease;

}

.item:hover {
    transform: scale(102%);
    filter: brightness(120%);
}

.item a {
    text-decoration: none;
    cursor: pointer;
    display: block;
    position: relative;
}

.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    filter: brightness(70%);
}

.item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
    transition: 0.3s ease;
}

/* tamanhos diferentes */

.grande {
    grid-column: span 3;
    height: 250px;
}

.medio {
    grid-column: span 2;
    height: 250px;
}

.pequeno {
    grid-column: span 1;
    grid-row: span 1;
    height: 250px;
}

/* animacoes */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.titulo {
    animation: fadeUp 1s ease forwards;
    opacity: 0;
}

.sub-titulo {
    animation: fadeUp 1s ease forwards;
    opacity: 0;
}
.menu {
    animation: fadeUp 1s ease forwards;
    opacity: 0;
    animation-delay: 0.2s;
}
