/* hero section */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.445)),
        url(../style/imgs/background.jpg) no-repeat center center/cover;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    overflow: hidden;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.hero-text {
    width: 45%;
    line-height: 1.2;
    z-index: 2;
    text-align: center;
}

.hero-text h2 {
    font-size: 70px;
}

.hero-text img {
    filter: invert(81%) sepia(31%) saturate(574%) hue-rotate(180deg) brightness(100%) contrast(81%);
    width: 300px;
    padding: -60px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
    opacity: 80%;
    line-height: 1.6;
}

.hero-btn {
    display: inline-block;
    color: #fff;
    background: transparent;
    padding: 15px 70px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50px;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.3s ease;
}

.hero-btn:hover {
    background-color: #fff;
    color: #a2c1dd;
}

/* produtos em destaque */

.destaques {
    max-width: 1200px;
    margin: 60px auto;
}

.titulo {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}

/* animacoes */

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-text h2 {
    animation: fadeUp 1s ease forwards;
    opacity: 0;
}

.hero-text img {
    animation: fadeUp 1s ease forwards;
    opacity: 0;
    animation-delay: 0.2s;
}

.hero-text p {
    animation: fadeUp 1s ease forwards;
    opacity: 0;
    animation-delay: 0.4s;
}

.hero-btn {
    animation: fadeUp 1s ease forwards;
    opacity: 0;
    animation-delay: 0.6s;
}

[data-animate] {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

[data-animate].show {
    opacity: 1;
    transform: translateY(0);
}