@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* hero section */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.445)),
        url(../style/imgs/background.jpg) no-repeat center center/cover;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    overflow: hidden;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.hero-text {
    width: 45%;
    line-height: 1.2;
    z-index: 2;
    text-align: center;
}

.hero-text h2 {
    font-size: 70px;
}

.hero-text img {
    filter: invert(81%) sepia(31%) saturate(574%) hue-rotate(180deg) brightness(100%) contrast(81%);
    width: 300px;
    padding: -60px;
}

.hero-text p {
    font-size: 20px;
    color: #f5f5f5;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-btn {
    display: inline-block;
    color: #fff;
    background: transparent;
    padding: 15px 70px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50px;
    font-family: sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-btn:hover {
    background-color: #fff;
    color: #a2c1dd;
}

/* produtos em destaque */

.carousel {
    position: relative;
    max-width: 1200px;
    height: 500px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.slides {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(70%);
    border-radius: 25px;
}

.caption {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 30px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
}

.caption h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.caption p {
    font-size: 16px;
    color: #f0f0f0;
}

.fade {
    animation: fade 1.2s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

/* sobre nos */

.about {
    background-color: #7196b6;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.about-text,
.about-video {
    flex: 1;
    max-width: 1000px;
}

.about-text {
    max-width: 500px;
    padding: 40px 20px;
}

.about-text h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 40px;
}

.about-text p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: left;
}

.about-video {
    flex: 1;
    width: 100%;
    height: 100%;
    margin: 40px 0;
}

.about-video img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #a2c1dd;
}

/* animacoes de surgir*/

[data-animate] {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

[data-animate].show {
    opacity: 1;
    transform: translateY(0);
}