/* Legendas */

.title {
  margin-top: 1%;
  text-align: center;
  color: #658ea3;
}

.sub-titulo {
  margin-left: 10%;
  margin-top: 2%;
  color: #333;
}

/* Formas de pagamento */

.formas-pagamento {
  margin-left: 10%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.botao {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Dados do cartão */

.form-pagamento-cartao {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 35%;
  max-width: 100%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 50px;
}

.form-grupo {
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.form-row .form-grupo {
  flex: 1;
}

label {
  display: block;
  padding: 1%;
  font-weight: bold;
  color: #333;
}

.form-pagamento-cartao input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Opções de parecelas */

.parcelas {
  margin-left: 10%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

#parcela {
  margin-right: 42%;
}

/* Opções de entrega */

.opcoes-de-entregas {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

#entrega {
  margin-right: 42%;
}

.sub-titulo1 {
  margin-top: 2%;
  color: black;
}

/* Botões do final */

.container-buttons {
  width: 70%;
  margin: 0 auto 40px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

/* Forma de pagamento */

.fundo-pagamento {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  width: 40%;
}

.opcoes-parcela {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  width: 40%;
}