.title {
    margin-left: 10%;
    margin-top: 1%;
    color: #658EA3;
}

.sub-titulo {
    margin-left: 10%;
    margin-top: 2%;
    color: black;
}

.card {
  display: flex;
  gap: 20px;
  padding: 16px;
  border: 1px solid #f9f9f9;
  border-radius: 20px;
  background: #f9f9f9;
  margin: 2% 55% 2% 10%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

