body {
  background-color: #f4f6f7;
}

/* Títulos */

.title {
  margin-top: 1%;
  text-align: center;
  color: #658ea3;
}

.sub-titulo,
.sub-titulo1 {
  margin-left: 10%;
  margin-top: 5%;
  color: #333;
}

/* Formas de pagamento */

.formas-pagamento {
  margin-left: 0;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Caixas de seleção */
.botao {
  border-radius: 15px;
  padding: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #fff;
}

/* Estilos compartilhados */
.fundo-pagamento,
.opcoes-parcela,
.entrega-opcoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  width: 80%;
  padding: 8px;
}

/* Dados do cartão */

.form-pagamento-cartao {
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 50px;
  width: 77%;
  background-color: #fff;
}

.form-grupo {
  margin: 2%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.form-row .form-grupo {
  flex: 1;
}

label {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-pagamento-cartao input[type="text"] {
  width: 100%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f4f6f7;
}

#validade-cartao, #cvv-cartao {
  padding: 4%;
}

/*  Opções de parcelas */

.parcelas {
  margin-left: 0;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Opções de entrega */

.opcoes-de-entregas {
  margin-left: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Botões finais */

.container-buttons {
  width: 70%;
  margin: 0 auto 40px;
  display: flex;
  margin-left: 56%;
  gap: 16px;
}

.pagina-pagamento {
  display: flex;
  padding: 0 auto;
  justify-content: center;
  margin: 2%;
  margin-left: 12%;
  margin-right: 18%;
}

.cartoes, .opcoes{
  flex-grow: 2;
}

.total {
  font: bold;
  margin-left: 72%;
}