body {
  background-color: #f4f6f7;
}

/* ----------------------------
   TÍTULOS
----------------------------- */

.title {
  margin-top: 1%;
  text-align: center;
  color: #658ea3;
}

.sub-titulo,
.sub-titulo1 {
  margin-top: 5%;
  color: #333;
  text-align: center;
}

/* ----------------------------
   LAYOUT GERAL
----------------------------- */

.pagina-pagamento {
  display: flex;
  gap: 40px;
  width: 80%;
  margin: 0 auto;
  align-items: flex-start;
}

/* Colunas iguais */
.cartoes,
.opcoes {
  flex: 1;
}

/* ----------------------------
   FORMAS DE PAGAMENTO
----------------------------- */

.formas-pagamento {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.botao {
  width: 100%;
  border-radius: 15px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* Estilos compartilhados */

.fundo-pagamento {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 74%;
  padding: 8px;
  background-color: #f4f6f7;
}

.opcoes-parcela,
.entrega-opcoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8%;
  width: 80%;
  padding: 8px;
  background-color: #f4f6f7;
}

/* ----------------------------
   FORMULÁRIO DO CARTÃO
----------------------------- */

.form-pagamento-cartao {
  
  padding: 20px;
  border-radius: 15px;
  margin-top: 1%;
  margin-bottom: 50px;
  width: 67%;
  background-color: #f4f6f7;
  border: 1px solid #ccc;
}

.form-grupo {
  margin: 10px 0;
}

.form-row {
  display: flex;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-pagamento-cartao input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #f4f6f7;
  border-radius: 15px;
  font-size: 16px;
}

#validade-cartao, #cvv-cartao {
  padding: 4%;
}

/*  Opções de parcelas */

.parcelas {
  margin-left: 0;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

#listaResumo .itemResumo:last-child {
  border-bottom: none;
}

/* ----------------------------
   TOTAL
----------------------------- */

.total {
  width: 80%;
  margin: 15px auto 0;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

/* ----------------------------
   BOTÕES
----------------------------- */

.container-buttons {
  width: 80%;
  margin: 20px auto 40px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.pagina-pagamento {
  display: flex;
  padding: 0 auto;
  justify-content: center;
  margin: 2%;
  margin-left: 16%;
  margin-right: 18%;
  gap: 5%;
}

.cartoes, .opcoes {
  flex-grow: 2;
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cartoes {
  width: 22%;
}

.total {
  font: bold;
  margin-left: 72%;
}