.body {
  font-family: 'Poppins', sans-serif;
}

 /*Categoria / filtrar preço */

 /*--------Filtro-----------*/

  .filtro-preco {
    height: 600px;
  width: fit-content;
  padding: 30px;
  border: 1px solid #817e7e2d;
  border-radius: 10px;
  background-color: #fcfafab4;
}
 .filtro-preco strong {
  font-size: 50px;
  margin-bottom: 10px;
  font-size: 40px;
  color: #504b4b;
  margin: 10px;
}
 .price-filter-container {
  background-color: #fffefe;
  width: 470px;
  padding: 10px;
  height: 520px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.price-filter-container h2 {
  margin-bottom: 15px;
  font-size: 19px;
  color: #333;
}
.price-filter-container label {
  display: block;
  margin-top: 7px;
  font-weight:bold;
  color: #474646;
}
.price-filter-container input { /*barra min max do preço*/
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #e2dede;
  border-radius: 8px;
}
.price-filter-container button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.price-filter-container button:hover {
  background-color: #005fa3;
}
/*-------fim do filtro-----------*/
/*__________________________________________________*/
/*-------Categoria---------------*/


.lista {
  list-style: none;        /* remove as bolinhas */
  padding: 0px;
  display:inline-block;    /* espaço entre os links */
}

.lista a {
  background-color: #f3faf9;  /* remove o sublinhado */
  color: rgb(14, 133, 202);             /* cor do texto */
  font-weight: bold;
}
.lista a:hover {
  color: rgb(240, 21, 21);              /* muda a cor ao passar o mouse */
}

 /*---------Fim da Categoria-----------*/
/*___________________________________________________________*/
  /* tela de produto*/
    .container {
      max-width: 100%;
      margin: 25px;
      padding: 15px;
}
    h1 {
      margin-bottom: 25px;
      margin: 25px;
      color: #494747;
}
    .grid {
      height: 300px;
      width: 100%;
      margin: 18px;
      display:flex;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 22px; 
}
    .card {
      background-color: #fdfdfd;
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.2s;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      border-radius: 4%;
}
    .card:hover {
      transform: translateY(-5px);
}
    .card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
}
    .card .info {
      padding: 15px;
}
    .card .info h2 {
      font-size: 16px;
      margin: 0 0 10px;
      color: #333;
}
    .price {
      font-size: 18px;
      font-weight: bold;
      color: #195abbd7;
}
    .installments {
      font-size: 14px;
      color: #2a9d8f;
}
    .catalogo {
    display: flex;
}
    /* fim da tela do produto*/