/* HERO */
.sobre-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./imgs/sobre-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 3px 20px rgba(0, 0, 0, 0.7);
    padding: 0 20px;
}

.sobre-hero h1 {
    text-align: center;
    font-size: 60px;
}

.sobre-hero p {
    font-size: 20px;
    margin-top: 10px;
}

.titulo-sobre {
    font-size: 40px;
    text-align: center;
}

/* HISTÓRIA */

.historia-narrativa {
    max-width: 70%;
    margin: 80px auto;
    padding: 0 20px;
    line-height: 1.8;
}

.historia-narrativa p {
    font-size: 20px;
    text-align: center;
}


/* LINHA DO TEMPO */


.linha-do-tempo {
    background: #7C9FB1;
    color: #fff;
    padding: 80px 10%;
    text-align: center;
}

.timeline {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.timeline .ano {
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}


/* NÚMEROS */

.nossos-numeros {
    background: #99B4C2;
    color: #fff;
    padding: 80px 10%;
    text-align: center;
}

.numeros-grid {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.num h3 {
    font-size: 40px;
}


/* MISSÃO */
.missao-visao-valores {
    background: #B6C9D3;
    color: #fff;
    padding: 80px 10%;
    text-align: center;
}

.mvv-grid {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.card {
    background: white;
    color: #333;
    padding: 30px;
    border-radius: 12px;
    width: 33%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    text-align: left;
}

.card ul {
    padding-left: 20px;
}

/* EQUIPE */
.nossa-equipe {
    background: #fafafa;
    padding: 80px 10%;
    text-align: center;
}

.equipe-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.membro img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

/* compromisso */
.compromisso {
    padding: 80px 10%;
    text-align: center;
}

.compromisso p {
    margin-top: 20px;
    line-height: 1.7;
}

/* contato */

.contato-call {
    padding: 80px 10%;
    text-align: center;
}

.contato-call .btn {
    background-color: #658EA3;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 12px 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-family: sans-serif;
    font-size: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn:hover {
    transform: scale(105%);
    background-color: #88bbd4;
}


/* animacoes de surgir*/

[data-animate] {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

[data-animate].show {
    opacity: 1;
    transform: translateY(0);
}